.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 5px solid rgb(224, 213, 226);
}

.onload {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 5px solid transparent;
}

.upload_description {
    display: flex;
}